/* Mobile First Media Query */
@media screen and (max-width: 750px) {

    #profile-card {
        background-color: var(--black);
        padding-top: 5em;
    }

    .card {
        margin-bottom: 1.5em;
        overflow: hidden;
    }

    .social-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        padding-left: 0;
        padding-top: 2em;
    }

    .social-icons {
        color: var(--dark-blue);
        font-size: 2em;
        transition: all .4s ease;
    }

    .social-icons:active {
        transform: scale(1.2);
        color: var(--);
    }
}