{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Profile Cards Section-->
<section id="profile-card" class="w-100">
    <div class="profile-card__context w-75 m-auto mb-4">
        <h3 class="h1">Behind SummerTrails</h3>
        <p>
            We are a small development team that got together
            to build a summer team app for a hackathon.
        </p>
    </div>
    <div class="card w-75 mb-3 m-auto">
        <img src="https://camo.githubusercontent.com/4310ec844ef8d30a33b27c7aa4c62ade94056190a8f6be3500b977b481e549fd/68747470733a2f2f63612e736c61636b2d656467652e636f6d2f54304c3330423230322d55303353524448333253462d6166303231643364356635612d353132"
            class="card-img-top profile-image" alt="Full Stack Developer, Callum Dennis">
        <div class="card-body text-center">
            <h5 class="card-title">Callum Dennis</h5>
            <p class="card-text">Full Stack Developer</p>
            <ul class="social-list">
                <li>
                    <a href="#" aria-label="Visit Callum's Github page">
                        <i class="fa-brands fa-github social-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Visit Callum's linkedin page">
                        <i class="fa-brands fa-linkedin social-icons"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card w-75 mb-3 m-auto">
        <img src="https://camo.githubusercontent.com/c52dce8c7458373ea7a66d606c7904e3a27b62aa4e3479a6485823ba0bec23d2/68747470733a2f2f63612e736c61636b2d656467652e636f6d2f54304c3330423230322d55303330574634354e4b562d3137323062366635396234372d353132"
            class="card-img-top" alt="Full Stack Developer, Christian Brown">
        <div class="card-body text-center">
            <h5 class="card-title">Christian Brown</h5>
            <p class="card-text">Full Stack Developer</p>
            <ul class="social-list">
                <li>
                    <a href="#" aria-label="Visit Christian's Github page">
                        <i class="fa-brands fa-github social-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Visit Christian's linkedin page">
                        <i class="fa-brands fa-linkedin social-icons"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card w-75 mb-3 m-auto">
        <img src="https://camo.githubusercontent.com/4ba201bf982c3b123228d03e8329551fa67229de0bbdbbfbedd0b3b2515e8bb4/68747470733a2f2f63612e736c61636b2d656467652e636f6d2f54304c3330423230322d5530334d32324b464634362d3131613164316239343363642d353132"
            class="card-img-top" alt="Full Stack Developer, Nicholas Tanskanen">
        <div class="card-body text-center">
            <h5 class="card-title">Niclas Tanskanen</h5>
            <p class="card-text">Full Stack Developer</p>
            <ul class="social-list">
                <li>
                    <a href="#" aria-label="Visit Niclas's Github page">
                        <i class="fa-brands fa-github social-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Visit Niclas's linkedin page">
                        <i class="fa-brands fa-linkedin social-icons"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card w-75 mb-3 m-auto">
        <img src="https://camo.githubusercontent.com/14a128ab1562b3319f912a8435581c54c045965f7d2bffaaf619f1cc55229b67/68747470733a2f2f63612e736c61636b2d656467652e636f6d2f54304c3330423230322d55303153304442373148382d3631313963306535393463332d353132"
            class="card-img-top" alt="Full Stack Developer, Chinonso Olejeme">
        <div class="card-body text-center">
            <h5 class="card-title">Chinonso Olejeme</h5>
            <p class="card-text">Full Stack Developer</p>
            <ul class="social-list">
                <li>
                    <a href="#" aria-label="Visit Chinonso's Github page">
                        <i class="fa-brands fa-github social-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Visit Chinonso's linkedin page">
                        <i class="fa-brands fa-linkedin social-icons"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card w-75 mb-3 m-auto">
        <img src="https://camo.githubusercontent.com/c13e5150a830b29f2f8538f7fdd7f53902a51003e132c35dc0b8fe3f1fb6407e/68747470733a2f2f63612e736c61636b2d656467652e636f6d2f54304c3330423230322d55303532585032453434452d6730656538633139303631652d353132"
            class="card-img-top" alt="Full Stack Developer, Richard">
        <div class="card-body text-center">
            <h5 class="card-title">Richard</h5>
            <p class="card-text">Full Stack Developer</p>
            <ul class="social-list">
                <li>
                    <a href="#" aria-label="Visit Richard's Github page">
                        <i class="fa-brands fa-github social-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Visit Richard's linkedin page">
                        <i class="fa-brands fa-linkedin social-icons"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card w-75 mb-5 m-auto">
        <img src="https://camo.githubusercontent.com/95ba0ccf3f54632ba9bca4a29772b86cee255b33b34f86bd07dbbc8a439f0aa7/68747470733a2f2f63612e736c61636b2d656467652e636f6d2f54304c3330423230322d55303538593633415939462d6132333462316664646238642d353132"
            class="card-img-top" alt="Full Stack Developer, Jhoan Trujillo">
        <div class="card-body text-center">
            <h5 class="card-title">Jhoan Trujillo</h5>
            <p class="card-text">Full Stack Developer</p>
            <ul class="social-list">
                <li>
                    <a href="#" aria-label="Visit Jhoan's Github page">
                        <i class="fa-brands fa-github social-icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Visit Jhoan's linkedin page">
                        <i class="fa-brands fa-linkedin social-icons"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>

{% endblock content %}