{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="login" class="container w-75 m-auto pt-5">
  <h2>Login Details</h2>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger mt-4">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        aria-label="Enter username"
        placeholder="Enter username"
        required
      />
    </div>

    <div class="form-group mt-2">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Password"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <br />

    <div>
      <a href="{% url 'signup' %}"> Register </a>
    </div>

    <div class>
      <a href="f_password.html"> Forgot Password </a>
    </div>
  </form>
</section>
{% endblock content %}
