{% extends 'base.html' %} {% load static %} {% block content %}
<section id="login" class="container w-75 m-auto">
    <h2>Login Details</h2>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control" name="emailAddress" id="emailAddress" aria-label="Enter Email"
                placeholder="Enter email">
        </div>

        <div class="form-group mt-2">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
        <br>

        <div>
            <a href="register.html">
                Register
            </a>
        </div>

        <div class>
            <a href="f_password.html">
                Forgot Password
            </a>
        </div>
    </form>

</section>

{% endblock content %}