@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

:root {
  --bs-text-opacity: 0.2;

  --dark-color: #121212;
  --accent-color: #ffb969;

  --foreground-color: #272727;

  --high-contrast: rgba(26, 26, 26, 0.87);
  --low-contrast: rgba(26, 26, 26, 0.87);

  --font: 'Titillium Web', sans-serif;
}

/*General styling*/

body {
  margin: 0;
  padding: 0;
  background-color: green;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: var(--high-contrast) !important;
}

button.accent-button {
  background-color: var(--accent-color) !important;
  border: 1px solid var(--accent-color) !important;
}


/* General color declaration*/
.dark-bg {
  background-color: var(--dark-color) !important;
}

.foreground-bg {
  background: var(--foreground-color) !important;
}

.accent-bg {
  background-color: var(--accent-color) !important;
}

.main-text-color {
  color: var(--high-contrast) !important;
}

.secondary-text-color {
  color: var(--low-contrast) !important;
}

.dark-text-color {
  color: var(--foreground-color) !important;
}

.accent-text-color {
  color: var(--accent-color) !important;
}

/* Navigation */

#navigation {
  /*Max compatibility backgroud for nav*/
  background: var(--dark-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: var(--accent-color) !important;
  text-decoration: underline !important;
}

.navbar-nav .nav-link.active {
  color: var(--accent-color) !important;
}


/* Map section */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.modal-backdrop.show {
  z-index: 1;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.lightbox-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Signup page*/
#signup {
  height: 100vh;
  background: var(--dark-color);
}

/* Login page */
section#login {
  height: 100vh !important;
}

.login__link {
  color: var(--accent-color) !important;
}

/* Team card page */
.social-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
}

i.social-icons {
  color: var(--high-contrast);
  margin-top: 1em;
  font-size: 1.5em;
}


/* Footer height on larger screens */
@media screen and (min-width: 768px) {

  .fixed-bottom {
    height: 4% !important;
  }
}